.search-full-width {
  width: 100%;
}

.content {
  margin: 10px 100px;
  .course-content {
    .course-card {
      max-width: 200px;
      display: inline-block;
      margin: 10px;
      .course-header-image {
        >img {
          border-radius: 50%;
          width: 150px;
          height: 150px;
          margin-bottom: 0px;
        }
      }
      .class-header-action {
        padding-top: 10px;
        text-align: center;
        cursor: pointer;
      }
    }
  }
}
