<div class="content">
  <form class="search-form">
    <mat-form-field class="search-full-width">
      <input matInput name="searchField" placeholder="Search..." [ngModel]="searchText" (ngModelChange)="searchText = $event">
    </mat-form-field>
  </form>
  <mat-divider></mat-divider>
  <div class="course-content">
    <mat-card *ngFor="let course of getCourses()" class="course-card">
      <div class="course-header-image">
        <img mat-card-image [src]="course.image" alt="תמונה של מקצוע">
      </div>
      <mat-divider></mat-divider>
      <mat-card-content>
        <h1 class="class-header-action" >{{course.title}}</h1>
      </mat-card-content>
    </mat-card>
  </div>
</div>
  