.search-full-width {
  width: 100%;
  text-align: right;
}


.content {
  // margin: 10px 100px;
  background-color: #fafafa;
  .course-content {
    text-align: center;
    .course-card {
      background-color: rgb(224, 236, 247);
      width: 200px;
      min-height: 255px;
      display: inline-table;
      margin: 10px;
      cursor: pointer;
      cursor: pointer;
      .course-header-image {
        >img {
          border-radius: 50%;
          width: 150px;
          height: 150px;
          margin-bottom: 0px;
        }
      }
      .class-header-action {
        padding-top: 10px;
        text-align: center;
      }
    }
  }
}
