<form class="search-form">
  <mat-form-field class="search-full-width">
    <input matInput placeholder="Search..." ([ngModel])="searchText" (ngModelChange)="onSearch($event)">
  </mat-form-field>
</form>
<mat-divider></mat-divider>

<div class="course-content">

  <mat-card *ngFor="let course of courses" class="course-card">
    <div class="course-header-image">
      <img mat-card-image [src]="course.image" alt="תמונה של מקצוע">
    </div>
    <mat-divider></mat-divider>
    <mat-card-content>
      <h1 class="class-header-action">{{course.name}}</h1>
    </mat-card-content>
  </mat-card>


</div>
