/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
body {
  background: url('../resources/img/app_background.png');
  /* background-size: 100% 100%; */
  background-size: cover;
  /* background-color: #80c656; */
  margin: 10px 100px;
}

.mat-list-item:hover {
  background: rgba(0, 0, 0, .04)
}

.mat-list-item:active {
  background: rgba(0, 0, 0, .04)
}

.centered-loading {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

.stepContent {
  text-align: right !important;
}

.stepperControls {
  text-align: left !important;
}

* {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-radio-button {
  /* display: block; */
  display: block !important;
  margin: 5px;
}

.radio-success>.mat-radio-outer-circle {
  border-color: #80c656;
}

.radio-success>.mat-radio-inner-circle {
  border-color: #80c656;
}

.radio-danger>.mat-radio-outer-circle {
  border-color: #911914;
}

.radio-danger>.mat-radio-inner-circle {
  border-color: #911914;
}

p.success {
  color: #80c656;
}

p.danger {
  color: #911914;
}
