<h2>{{data.course.title}}</h2>
<mat-horizontal-stepper dir="rtl" linear="true" #stepper="matHorizontalStepper">
  <mat-step [stepControl]="firstFormGroup">
    <ng-template matStepLabel>תוכן למידה</ng-template>
    <iframe style="display: -webkit-box; margin: 0 auto;" [src]='getContent()' width="640" height="360" frameborder="0" webkitallowfullscreen
      mozallowfullscreen allowfullscreen>
    </iframe>
    <div class="stepperControls">
      <button mat-button matStepperNext>הבא</button>
    </div>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="examFormGroup">
      <ng-template matStepLabel>מה למדתי?</ng-template>
      <mat-radio-group dir="rtl" *ngFor="let question of data.course.exam">
        <p>{{question.question}}</p>
        <mat-radio-button #radButton *ngFor="let ans of question.posible_answers; let i = index" [value]="i" (click)="onSelectAnswer(question, i, radButton);">{{ans}}</mat-radio-button>
        <p *ngIf="question.feedback" [ngClass]="{'success': isSuccess(question), 'danger': !isSuccess(question)}">{{question.feedback}}</p>
      </mat-radio-group>
      <div class="stepperControls">
        <button mat-button matStepperPrevious>חזור</button>
        <button mat-button matStepperNext>הבא</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>משוב</ng-template>
    <div class="stepContent">
      כל הכבוד סיימת את '{{data.course.title}}' בהצלחה
    </div>
    <div class="stepperControls">
      <button mat-button matStepperPrevious>חזור</button>
      <button mat-button (click)="close()">המשך לתוכן הבא</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>
