<!-- <mat-toolbar>אדמת משחק</mat-toolbar> -->

<app-student-profile></app-student-profile>


<div style="text-align: center; margin-bottom:10px;">

    <span style="float: right; cursor: pointer;" (click)="showProfile = !showProfile">
        <i class="material-icons" style="font-size:48px;">person_pin</i>
    </span>
    <span style="float: right; cursor: pointer; margin-left: 5px;" (click)="searchClicked()">
        <i class="material-icons" style="font-size:48px;">search</i>
    </span>
    <span style="float: right; cursor: pointer;" (click)="starClicked()">
        <i class="material-icons" style="    font-size: 41px;
            color: #66B735;
            border: 1px solid #66B735;
            border-radius: 50px;
            margin-top: 3px;">star</i>
    </span>
    <span dir="rtl" *ngIf="getStudentName()" style="font-size:40px;">שלום {{getStudentName()}}
    </span>
</div>
<div *ngIf="showProfile">
    <img class="profileImage" src="assets/profile.jpeg" alt="Profile Image">
</div>
<div *ngIf="!showProfile">
    <app-content-panel *ngIf="getStudentName()"></app-content-panel>
    <login-modal *ngIf="!getStudentName()"></login-modal>
</div>